body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-image: url("../public/img/background.jpg");
  background-size: cover;
  background-position: top center;
}
.model{
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.model img{
  width: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.model .detail{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: white;
}
.model .detail span{
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}
.glassesList{
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.glassesList button{
  background-color: transparent;
}
.glassesList img{
  width: 55px;
  
}
.glassesList button:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.glassesList .btn:focus{
  box-shadow: none;
}
.model .glass{
  width: 180px;
  height: 75px;
  position: absolute;
  top: 26%;
  left: 27.5%;
  z-index: 10;
  opacity: 0.9;
  box-shadow: none;
}